<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>查询页面</title>
</head>
<body background="http://zlrong.wywwwxm.com/tp5_weixin/public/static/images/bg_logo1.png" bgcolor="#ffe4c4">
  <div><img src="https://www.baidu.com/img/bd_logo1.png"></div>
  <form action="/tp5_weixin/public/index.php/oauth/query" method="post">
 <table cellpadding="20" align="center">
     <tr>

     </tr>
   <tr>
       <td><img src="https://www.baidu.com/img/baidu_jgylogo3.gif"></td>
     <td><input type="text" name="query" value="" size="50" /></td>
     <td><input type="submit" value="搜索一下" name="submit"/></td>
   </tr>
 </table>
  </form>
</div>
</body>
</html>